
<p>Use this page to detail your site's privacy policy.</p>



<div class="container text-center">


     <h1>======= ViewBag =======</h1>
    <h4> @ViewBag.Name </h4>

    <h4> @ViewBag.Age </h4>

    <h4> @ViewBag.Email </h4>

    <h4> @ViewBag.University </h4>

    <h4> @ViewBag.Time </h4>

    @*<ul>
        @foreach (var item in  ViewBag.list)
        {
            <li>
                @item
            </li>
        }
    </ul>*@

</div>
